.btn-edit {
    width: 100%;
    padding: 4px;
    background-color: var(--hunter-green);
    color: white;
    font-size: 1rem;
    font-weight: 400;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
}

.btn-edit:hover {
    background-color: var(--fern-green);
    transform: translateY(-2px);
}

.btn-submit {
    width: 100%;
    padding: 12px;
    background-color: var(--brunswick-green);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
    text-transform: uppercase;
}

.btn-submit:hover {
    background-color: var(--fern-green);
    transform: translateY(-2px);
}

.btn-danger.btn-submit {
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;
}

.btn-danger.btn-submit:hover {
  background-color: #bb2d3b !important;
  border-color: #b02a37 !important;
}

.btn-reset {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
    text-transform: uppercase;
}

.btn-reset:hover {
    background-color: red;
    transform: translateY(-2px);
}

.btn-add {
    padding: 8px 16px;
    background-color: var(--fern-green);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
    text-transform: uppercase;
}

.btn-add:hover {
    background-color: var(--sage);
    transform: translateY(-2px);
}

.btn-delete {
    width: 100%;
    padding: 4px;
    background-color: red;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
}

.btn-delete:hover {
    background-color: darkred;
    transform: translateY(-2px);
}

.btn-clear {
    background-color: #d4af37;
    border-color: #d4af37;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
}

.btn-clear:hover {
    background-color: #ab8d2b;
    border-color: #ab8d2b;
    transform: translateY(-2px);
}

.btn-view-active {
    border-color: black !important;
    background-color: var(--brunswick-green) !important;
    color: white !important;
}

.btn-view-inactive {
    border-color: black !important;
    background-color: transparent !important;
    color: var(--brunswick-green) !important;
}

.btn-view-inactive:hover {
    background-color: var(--sage) !important;
    color: white !important;
}

.location-tab {
  display: flex;
  align-items: center;
  margin-left: 6px;
  position: relative;
}

.delete-btn {
  margin-left: 4px;
  opacity: 0; /* hidden by default */
  transition: opacity 0.2s;
}

.location-tab:hover .delete-btn {
  opacity: 1; /* show on hover */
}

.dish-btn-primary {
  background-color: #198754;
  border: #198754;
  color: white;
}

.dish-btn-primary:hover {
  background-color: var(--fern-green);
}

.dish-btn-secondary {
  background-color: transparent;
  color: #d4af37;
  border: #d4af37 solid 1px;
}

.dish-btn-secondary:hover {
  background-color: #d4af37;
  border: #d4af37 solid 1px;
  color: white;
}
