.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--timberwolf);
  padding: 20px;
}

.formWrapper {
  width: 100%;
  max-width: 400px;
  padding: 25px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.title {
  font-size: 1.8rem;
  color: var(--hunter-green);
  margin-bottom: 15px;
  font-weight: bold;
}

.descriptionCentered {
  font-size: 1rem;
  color: var(--fern-green);
  margin: 10px 0 20px;
}

.inputGroup {
  margin-bottom: 20px;
  text-align: left;
}

.label {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  color: var(--brunswick-green);
  margin-bottom: 5px;
  font-weight: 500;
}

.forgotPassword a {
  font-size: 0.85rem;
  color: var(--fern-green);
  text-decoration: none;
}

.forgotPassword a:hover {
  text-decoration: underline;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--fern-green);
  border-radius: 5px;
  font-size: 0.9rem;
  background-color: #fff;
  color: var(--brunswick-green);
}

.input:focus {
  outline: none;
  border-color: var(--hunter-green);
  box-shadow: 0 0 5px rgba(58, 90, 64, 0.3);
}

.button {
  width: 100%;
  padding: 12px;
  background-color: var(--hunter-green);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  cursor: pointer;
  text-transform: uppercase;
}

.button:hover {
  background-color: var(--fern-green);
  transform: translateY(-2px);
}

.button:active {
  transform: translateY(0);
}

.error {
  color: red;
  font-size: 0.85rem;
  margin-top: 10px;
}

.accountPromptWrapper {
  font-size: 0.9rem;
  margin-top: 20px;
  color: var(--brunswick-green);
  text-align: center;
}

.logIn {
  font-size: 0.85rem;
  color: var(--fern-green);
  font-weight: bold;
  text-decoration: none;
}

.logIn:hover {
  text-decoration: underline;
}
